/* Logo */
.right-side{
    text-align: center;
}
.right-side .logo{
    text-align: center;
    margin-top: -40px;
}
.right-side .logo h1{
    font-family: 'Fredoka', sans-serif;
    font-size: 80px;;
    color:#1F2020;
}
.right-side .logo p{
    color:#1F2020;
}

/* Formulário de login */
.form input, .form  #senha input {
    height: 40px;
    width: 80%;
    border: 1px solid #1F2020;
    border-radius: 7px;
    padding: 0 7px 0 15px;
    font-size: 15px;
    outline: none;
}
.form input:focus, .form #senha input:focus{
    border: 1px solid #ED3D5E;
}
.form button{
    background-color: #ED3D5E;
    color: white;
    border: none;
    width: 35%;
    height: 40px;
    font-size: 18px;
    border-radius: 7px;
    transition: all 0.8s;
    cursor: pointer;
}
.form button:hover{
    background-color: #FF0778;   
}


/* Botão para cadastro */
.cadastro p{
    font-size: 11px;
    color:#1F2020;
    font-weight: bold;
}
.cadastro p a{
    color: #ED3D5E;
    text-decoration: none;
    font-weight: bold;
}